extends includes/layout.jade
block main-content
	header.nav.navbar-inverse.navbar-fixed-top
		.container
			.navbar-header
				a.navbar-brand(href="#/") Library
			.navbar-collapse.collapse
				ul.nav.navbar-nav
					li 
						a(href="/") Home
<<<<<<< HEAD
				div(ng-include="'partial/account/login'")
=======
>>>>>>> 3a604b978fb67c84e7eaa0b59bff361eebac3146
	section
		div(ng-view)
	footer
		p.text-center
			| &copy Library
