div.contact
	h4 Ръководител:
	p
			| Красимира Юрукова
			br/
			a(href="http://www.abv.bg/") krasi_yurukova@abv.bg
	h4 Разработили:
	p
			| Садика Маджарова	
			a(href="http://www.abv.bg/") kinka96@abv.bg
	p
		| Яна Стоянова
		