.container
   div.col-md-8
      img.img-responsive.img-rounded

     .row
        .col-md-6
           .panel.panel-info
              .panel-heading.text-center News
              .panel-body(ng-include="'partial/main/News'")
        .col-md-6
           .panel.panel-info
              .panel-heading.text-center Body
              .panel-body(ng-include="'partial/main/Body'")
