.container
   .jumbotron
      h1 Electronic Library
      h2 hii
     .row
        .col-md-6
           .panel.panel-info
              .panel-heading.text-center News
              .panel-body(ng-include="'partial/main/News'")
        .col-md-6
           .panel.panel-info
              .panel-heading.text-center Body
              .panel-body(ng-include="'partial/main/Body'")
