.navbar-right(ng-controller="LoginCtrl")
	form.navbar-form
		input.form-control(type="text", placeholder="Username-admin", ng-model="user.username")
		input.form-control(type="password", placeholder="Password-admin", ng-model="user.password")
		button.btn.btn-primary(ng-click="login(user)") Admin Login